<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{../../assets/css/material-dashboard.css}"
	rel="stylesheet" />
</head>
<body>
	<div th:fragment="modal" class="modal" tabindex="-1" role="dialog"
		id="showModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<div class="card-content">
						<h4 class="card-title">BenchMark</h4>
					</div>
				</div>
				<div class="modal-body" id="addBodyContent"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal" id="closeModalBtn">Close</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>