<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{../../../assets/css/material-dashboard.css}"
	rel="stylesheet" />
</head>
<body>
	<div th:fragment="sidebar" class="sidebar" data-active-color="rose"
		data-background-color="black"
		data-image="../../assets/img/sidebar-1.jpg">
		<div class="logo">
			<a href="#" class="simple-text logo-mini"> DB </a> <a href="#"
				class="simple-text logo-normal"> DashBoard </a>
		</div>
		<div class="sidebar-wrapper">
			<div class="user">
				<div class="photo">
					<img th:src="@{../../assets/img/faces/avatar.jpg}" />
				</div>
				<div class="info">
					<a> <span> TEST </span>
					</a>
					<div class="clearfix"></div>
				</div>
			</div>
			<ul class="nav">
				<li class="active"><a href="/"> <i
						class="material-icons">dashboard</i>
						<p>Dashboard</p>
				</a></li>
				<li><a data-toggle="collapse" href="#pagesOption"> <i
						class="material-icons">image</i>
						<p>
							Pages <b class="caret"></b>
						</p>
				</a>
					<div class="collapse" id="pagesOption">
						<ul class="nav">
							<li><a href="/videos"> <span class="sidebar-mini">
										V </span> <span class="sidebar-normal"> Videos </span>
							</a></li>
						</ul>
					</div></li>
			</ul>
		</div>
	</div>
</body>
</html>