<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row" th:fragment="list-user">
			<div class="col-md-10 mx-auto">
				<h2 class="my-5">Users</h2>
				<p class="mb-2">
					<a href="/signup" class="btn btn-success" role="button">Add</a>
				</p>
				<table class="table table-striped table-dark">
					<thead>
						<tr>
							<th scope="col">Index</th>
							<th scope="col">Name</th>
							<th scope="col">Age</th>
							<th scope="col">Edit</th>
							<th scope="col">Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${listUser}">
							<td scope="row" th:text="${user.id}"></td>
							<td scope="row" th:text="${user.name}"></td>
							<td scope="row" th:text="${user.age}"></td>
							<td scope="row"><a th:href="@{/edit/{id}(id=${user.id})}"
								class="btn btn-primary" role="button">Edit</a></td>
							<td scope="row"><a th:href="@{/delete/{id}(id=${user.id})}"
								class="btn btn-danger" role="button">Delete</a></td>
						</tr>
					</tbody>
				</table>
				<div th:if="${searchRespModel.totalPage > 0}" class="pagination"
					th:each="pageNumber : ${pageNumbers}">
					<a
						th:href="@{/list-user(size=${searchRespModel.pageSize}, page=${pageNumber})}"
						th:text=${pageNumber}
						th:class="${pageNumber==searchRespModel.pageNo + 1} ? active"></a>
				</div>
			</div>
		</div>
	</div>
</body>
<style>
.pagination {
	display: inline-block;
}

.pagination a {
	color: black;
	float: left;
	padding: 5px 5px;
	text-decoration: none;
}

.pagination a.active {
	background-color: gray;
	color: white;
	border-radius: 2px;
}
</style>
</html>