<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{../../../assets/css/material-dashboard.css}"
	rel="stylesheet" />
</head>
<body>
	<div th:fragment="sidebar" class="sidebar" data-active-color="rose"
		data-background-color="black"
		data-image="../../assets/img/sidebar-1.jpg">
		<div class="logo">
			<a th:href="@{/}" class="simple-text logo-mini"> DB </a> <a
				th:href="@{/}" class="simple-text logo-normal"> DashBoard
			</a>
		</div>
		<div class="sidebar-wrapper">
			<div class="user">
				<div class="photo">
					<img th:src="@{../../assets/img/faces/avatar.jpg}" />
				</div>
				<div class="info">
					<a> <span> TEST </span>
					</a>
					<div class="clearfix"></div>
				</div>
			</div>
			<ul class="nav">
				<li class="active"><a th:href="@{/}"> <i
						class="material-icons">dashboard</i>
						<p>Dashboard</p>
				</a></li>
			</ul>
		</div>
	</div>
</body>
</html>